<%- include("header") -%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa {
     
      font-size: 50px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-telegram {
      background: #55ACEE;
      color: white;
    }
    .center {
     align-self: center;
    }

    </style>

<form>
    <div class="body-card">
 
       
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputEmail4">HQ office address</label>
                <p> <a href="default.asp" target="_blank">My address</a></p>
              </div>
              
              <div class="form-group col-md-2">
                <label for="inputPassword4">E-mail</label>
                <p> <a href="default.asp" target="_blank">My email</a></p>
              </div>
              <div class="form-group col-md-2">
                <label for="inputPassword4">Website</label>
        <p> <a href="default.asp" target="_blank">My website</a></p>
              </div>
            
              </div>
           
           
                 
            <div class="d-flex justify-content-center">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-telegram "></a>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <i class="fas fa-file" style="font-size:48px;color:black;"></i>
               
                      </div>
                </div>
            </div>

</form>

<%- include("footer") -%>
