<%- include("header") -%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <h1 class="h2 mb-0 text-gray-800">Thank you for your payment!</h1>
  <br>
  <h4 class="h4 mb-0 text-gray-800">Email with your purchase details was sent.<br>  Return to <a href="/">Dashboard</a></h4>





</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include("footer") -%>
